<check-box-element *ngIf="data.type==='CheckBox'" [data]="data" class="inherit-props"></check-box-element>
<dropdown-list-element *ngIf="data.type==='DropdownList'" [data]="data" class="inherit-props"></dropdown-list-element>
<image-list-editor-element *ngIf="data.type==='ImageListEditor'" [data]="data" class="inherit-props"></image-list-editor-element>
<input-number-element *ngIf="data.type==='InputNumber'" [data]="data" class="inherit-props"></input-number-element>
<input-text-element *ngIf="data.type==='InputText'" [data]="data" class="inherit-props"></input-text-element>
<radio-group-element *ngIf="data.type==='Radiogroup'" [data]="data" class="inherit-props"></radio-group-element>
<text-element *ngIf="data.type==='Text'" [data]="data" class="inherit-props"></text-element>
<button-element *ngIf="data.type==='Button'" [data]="data" class="inherit-props"></button-element>
<tags-input-element *ngIf="data.type==='TagsInput'" [data]="data" class="inherit-props"></tags-input-element>
<slider-input-element *ngIf="data.type==='SliderInput'" [data]="data" class="inherit-props"></slider-input-element>
<documents-editor-element *ngIf="data.type==='DocumentsInput'" [data]="data" class="inherit-props"></documents-editor-element>
<tree-element *ngIf="data.type==='Tree'" [data]="data" class="inherit-props"></tree-element>
<datepicker-element *ngIf="data.type==='DatePicker'" [data]="data" class="inherit-props"></datepicker-element>
<geo-input-element *ngIf="data.type==='GeoInput'" [data]="data" class="inherit-props"></geo-input-element>
<line-element *ngIf="data.type==='Line'" class="inherit-props"></line-element>
